@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Poppins&display=swap');

$font-stack: 'Poppins', sans-serif;
$font-msg : 'Noto Sans JP', sans-serif;
$primary-color: rgb(10, 143, 121);
$white-color: white;
$text-color : #333;